[alias]
  s = status
  a = add
  r = rm
  c = commit
  pl = pull
  ph = push
  co = checkout

[user]
	name = Diego Lorenzo
	email = diego@diegolorenzo.com

[color]
  ui = true

[core]
  excludesfile = ~/.gitignore
	editor = /usr/bin/vim

[push]
  default = simple
  
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
